<div class="card">
<div class="cardbody">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem velit esse, hic quam natus quisquam sed rerum at odio reprehenderit. Voluptates tenetur, iure quo vitae eius suscipit, expedita eum aut recusandae quibusdam hic voluptate reprehenderit cupiditate iste nobis voluptas repellat.</p>
</div>

</div>
