<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node and MonGODB</h1><!--la clase ("display-4") es una clase de Boootstrap el numero 4 indica un boton grande-->
    <P class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</P>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga non suscipit debitis nihil quisquam autem architecto voluptate rerum soluta quibusdam sunt nulla minima ducimus ullam reprehenderit, magni dolores a voluptatem?</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
</div>
